body, html {
  background-color: $very-light-grey;
  position: relative;
}

body {
  margin: 0;
  padding: 0;
}

*, *:before, *:after {
  @include border-box;
}

.content {
  @extend %clearfix;
  z-index: 80;
  position: relative;
  width: 100%;
  overflow-x: hidden;

  &.no-hero {
    padding-top: ($header-height + 2rem);
  }
}

.container {
  @extend %clearfix;
  position: relative;
  width: 100%;
  max-width: 65rem;
  margin: 0 auto;
  margin-bottom: 1.5rem;

  &.slim {
    max-width: 40rem;
  }

  a {
    color: $blue;

    &:hover { text-decoration: underline; }
  }
}

.full-width-outer {
  margin: 2rem 0;
}

.scrim {
  z-index: 60;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
}

.blue { background-color: $blue; }
.red { background-color: $red; }
.yellow { background-color: $yellow; }
.yellow-green { background-color: $yellow-green; }
.green { background-color: $green; }
.orange { background-color: $orange; }

img {
  max-width: 100%;
}

p, .p, label, table {
  margin: 0 0 1rem;
  font-family: $sans;
  font-weight: $regular;
  font-size: 1rem;
  line-height: 1.75rem;
}

pre {
  margin: 1rem 0;
  padding: 1rem;
  background-color: $white;
  font-family: monospace;
}

$table-padding: 0.5rem;
table {
  margin: 1rem auto 2rem;
  @include box-shadow;

  thead {
    background-color: $blue;
    color: $white;
  }
}

th, td {
  padding: 0 $table-padding;
}

tr {
  &:nth-child(even){
    background-color: $ultra-light-grey;
  }
}

th {
  font-weight: $bold;
}

ul { list-style: disc; }
ol { list-style: decimal; }
ul, ol {
  padding: 0;
  margin-left: 2rem;
  li {
    @extend .p;
    margin: 0;
  }
}

input, textarea {
  @extend .h6;
  padding: 0.5rem 1rem;
  margin: 0;
  border: 1px solid $very-light-grey;
  outline: 0;
  width: 10rem;
  @include transition(0.2s);

  &::-webkit-input-placeholder,
  &:-moz-placeholder,
  &::-moz-placeholder,
  &:-ms-input-placeholder {
    @extend .h6;
  }

  &.stretch {
    width: 2.5rem;
    padding-left: 1.75rem;

    &:focus {
      width: 10rem;
      padding-left: 2.25rem;
    }
  }
}

input:disabled, .btn:disabled, .button:disabled {
  background-color: gray;
}

select {
  border: 1px solid $very-light-grey;
  background-color: white;
  border-radius: 0;
  -webkit-appearance: none;
  -webkit-border-radius: 0px;
  padding: 0.5rem 2rem 0.5rem 1rem;
  background: url(../images/caret.svg) no-repeat right 0.25rem center;
  background-size: 1rem 1rem;
}