.grid-sizer { width: 33.3333%; }
.masonry-item {
  width: 100%;

  &.w-1-3 { width: 33.3333%; }
  &.w-2-3 { width: 66.6666%; }
  &.w-1-2 { width: 50%; }
}


.full-width { width: 100% !important; }
.full-height { height: 100% !important; }
.inherit-height { height: inherit; }

.block { display: block !important; }
.block--center { display: block !important; margin: 0 auto; }
.inline-block { display: inline-block !important; }

.table { display: table; }
.tr { display: table-row; }
.td { display: table-cell; vertical-align: middle; }

.text-right { text-align: right; }
.text-left { text-align: left; }
.text-center { text-align: center; }

.float-left { float: left; }
.float-right { float: right; }

.nudge { margin: $full-space !important; }
.nudge-half { margin: $half-space !important; }
.nudge--top { margin-top: $full-space !important; }
.nudge-half--top { margin-top: $half-space !important; }
.nudge--bottom { margin-bottom: $full-space !important; }
.nudge-half--bottom { margin-bottom: $half-space !important; }
.nudge-quarter--bottom { margin-bottom: $half-space/2 !important; }
.nudge--left { margin-left: $full-space !important; }
.nudge-half--left { margin-left: $half-space !important; }
.nudge--right { margin-right: $full-space !important; }
.nudge-half--right { margin-right: $half-space !important; }
.nudge--sides { margin-left: $full-space !important; margin-right: $full-space !important; }
.nudge-half--sides { margin-left: $half-space !important; margin-right: $half-space !important; }
.nudge--ends { margin-top: $full-space !important; margin-bottom: $full-space !important; }
.nudge-half--ends { margin-top: $half-space !important; margin-bottom: $half-space !important; }

.flush { margin: 0 !important; }
.flush--top { margin-top: 0 !important; }
.flush--bottom { margin-bottom: 0 !important; }
.flush--left { margin-left: 0 !important; }
.flush--right { margin-right: 0 !important; }
.flush--sides { margin-left: 0 !important; margin-right: 0 !important; }
.flush--ends { margin-top: 0 !important; margin-bottom: 0 !important; }

.island { padding: $full-space !important; }
.islet { padding: $half-space !important; }
.soft--top { padding-top: $full-space !important; }
.soft-half--top { padding-top: $half-space !important; }
.soft--bottom { padding-bottom: $full-space !important; }
.soft-half--bottom { padding-bottom: $half-space !important; }
.soft--left { padding-left: $full-space !important; }
.soft-half--left { padding-left: $half-space !important; }
.soft--right { padding-right: $full-space !important; }
.soft-half--right { padding-right: $half-space !important; }
.soft--sides { padding-left: $full-space !important; padding-right: $full-space !important; }
.soft-half--sides { padding-left: $half-space !important; padding-right: $half-space !important; }
.soft--ends { padding-top: $full-space !important; padding-bottom: $full-space !important; }
.soft-half--ends { padding-top: $half-space !important; padding-bottom: $half-space !important; }

.hard { padding: 0 !important; }
.hard--top { padding-top: 0 !important; }
.hard--bottom { padding-bottom: 0 !important; }
.hard--left { padding-left: 0 !important; }
.hard--right { padding-right: 0 !important; }
.hard--sides { padding-left: 0 !important; padding-right: 0 !important; }
.hard--ends { padding-top: 0 !important; padding-bottom: 0 !important; }