body {
  font-family: 'Fira Sans', 'Helvetica Neue', Helvetica, sans-serif;
  font-size: 16px;
}

a {
  color: $link-color;
  text-decoration: none;
  font-weight: 500;

  &:hover, &:active {
    text-decoration: underline;
  }
}

h1, h2, h3, h4, h5, h6 {
  margin: 0 0 $half-space;

  font-weight: 600;
}

h1,.alpha {
  font-size: 36px;
}

h2,.beta {
  font-size: 30px;
}

h3,.gamma {
  font-size: 24px;
}

h4,.delta {
  font-size: 20px;
}

h5,.epsilon {
  font-size: 18px;
}

h6,.zeta {
  font-size: 16px;
}

.grey { color: $grey-text; }
.dark-grey { color: $dark-grey-text; }