aws:
    access_key: 'AKIAJTL7QEGHS6OTMSMQ'
    secret_key: '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'
    region: 'us-west-2'
    bucket: 'elasticbeanstalk-us-west-2-297223814945'
    bucket_path: 'pundittracker-web'

app:
    versions_to_keep: 2
    app_name: 'pundittracker-web'
    description: 'The web client for PunditTracker.com.'

    all_environments:
        solution_stack_name: '64bit Amazon Linux running Node.js'

        option_settings:
            'aws:elasticbeanstalk:application':
                Application Healthcheck URL: '/'

        # instructions on how to build the application archive
        archive:
            excludes: # files to exclude, a list of regex
                - '^.gitignore$'
                - '^\.git*'
                - '.*\.zip$'
                - 'app\/'
                - 'gulp\/'
                - 'node_modules\/'
                - '^.env$'

    environments:
        # the Testing version of the app
        'pundittracker-web-dev':
            cname_prefix: 'pundittracker-web-dev'

        # the production version of the app
        'pundittracker-web-prod':
            cname_prefix: 'pundittracker-web-prod'