.card-grid {

  max-width: $content-width;
  margin: 0 auto $card-grid-padding;

  & > *:not(.grid-sizer):not(.gutter-sizer) {
    padding: 0 ($card-grid-padding / 2) $card-grid-padding;
  }

}

.content > .card-grid {
  width: 95%;
}