.category-link-card {

  z-index: 200;
  position: relative;
  height: $prediction-height;
  padding: $prediction-padding;

  background-color: $blue;
  color: $white;
  @include box-shadow;
  @include border-box;
  @include background-cover();
  background-image: url(../../img/hero.jpg);

  h2 {
    z-index: 1000;
    position: absolute;
    right: 1rem;
    left: 1rem;
    margin: 0;

    @include text-shadow;
    line-height: 3rem;

    & + a h2 {
      bottom: 1rem;
      text-decoration: underline !important;
    }
    & + a i {
      text-decoration: underline !important;
    }
  }

  .scrim {
    @include scrim(50);
  }

}