.category-link-card {

  z-index: 200;
  position: relative;
  height: $prediction-height;
  padding: $prediction-padding;

  background-color: $blue;
  color: $white;
  @include box-shadow;
  @include border-box;
  @include background-cover();

  h2 {
    z-index: 1000;
    position: absolute;
    left: 1rem;
    margin: 0;

    @include text-shadow;
    line-height: 3rem;

    & + a h2 {
      bottom: 1rem;
      line-height: 0; // Keep border-bottom close to simulate text-underline
      border-bottom: 2px solid $white;
    }
  }

  .scrim {
    @include scrim(50);
  }

}