.facebook-card {

  height: $prediction-height;
  @include box-shadow;
  position: relative;
  @include radial(59,89,152,50%, $prediction-height - $user-height);

  .title-wrapper {
    padding: $prediction-padding;
    height: ($tall-3-2-height - 4 * $user-height);
    color: white;
    h3, h2 {
      margin: 0;
    }
  }

  & > .fb-wrapper {
    text-align: center;
    position: absolute;
    top: ($tall-3-2-height - 4 * $user-height);
    bottom: 0;
    width: 100%;
    left: 0;
    z-index: 500;
    display: block;
    & > .inner {
      position: absolute;
      height: 8rem;
      margin-top: -4rem;
      width: 100%;
      top: 50%;
    }
  }

}