footer {

  padding: 2rem 0 4rem;
  margin-top: 2rem;

  background-color: $blue;
  color: $white;
  @include border-box;

  & > .card-grid {
    max-width: 95%;
    width: $content-width;
    margin: 0 auto;
  }

  ul {
    padding: 0;
    margin: 0;
    list-style: none;
    ul {
      margin-left: 1rem;
    }
  }

  .double {
    border-bottom: 1px solid $white;
    margin-bottom: 0.5rem;
    width: 50%;
  }

}