.hero {

  z-index: 100;
  position: relative;
  height: $hero-height;
  width: ($content-width + 2 * $extension);
  max-width: 100%;
  margin: 0 auto;
  padding: $header-height 0 2rem;
  overflow: hidden;
  @include content-box;

  .featured {
    height: $hero-height;
  }

  & > .background {
    position: absolute;
    top: $header-height;
    bottom: 2rem;
    width: 100%;
    overflow-x: hidden;

    @include large-box-shadow;
    @include background-cover(center);

    .scrim {
      @include scrim(50);
    }
  }

  & > .card-grid {
    .large-with-small-feature {
      margin-left: -$extension;
      padding-left: $extension;
    }
    .small-feature-card {
      margin-right: -$extension;
      padding-right: $extension;
    }
  }

  .right {
      z-index: 200;
  }

}