.hero {

  z-index: 100;
  position: relative;
  height: 80vh;
  width: 100%;
  margin: 0 auto;
  padding-top: $header-height;
  padding-bottom: 2rem;

  &.fixed {
    height: $hero-height;
    width: ($content-width + 2 * $extension);

    &.done {
      max-width: 100%;
    }

    .featured {
      height: $hero-height;
    }
  }

  & > .background {
    @include large-box-shadow;
    top: $header-height;
    bottom: 2rem;
    position: absolute;
    background-repeat: no-repeat;
    background-position: top center;
    background-size: 100%;
    width: 100%;
    overflow-x: hidden;
  }

}