.list-card {

  height: $tall-3-2-height;

  background-color: $white;
  @include box-shadow;

  & > .title-wrapper {
    position: relative;
    height: ($tall-3-2-height - 4 * $user-height);
    padding: 1rem;

    @include background-cover();

    & > .title {
      position: absolute;
      bottom: 1rem;
      margin: 0;
      color: white;
      @include text-shadow;
    }
  }

  ul {
    list-style: none;
    margin: 0;
    padding: 0;
  }

}