.prediction-card {

  z-index: 200;
  position: relative;
  height: $prediction-height;
  padding: 0 $prediction-padding $prediction-padding;

  background-color: $white;
  @include background-cover();
  @include box-shadow;

  .text {
    margin: 0;
  }

  .background {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    @include background-cover();
  }

  .user {
    position: absolute;
    left: 0;
    bottom: 0;
  }

  .scrim {
    @include scrim(50);
  }

  .tags {
    @extend %clearfix;
    margin: 0 (-1 * $prediction-padding) 0.5rem;
    max-height: 1.5rem;
    overflow: hidden;

    .inner {
      overflow: hidden;
      max-height: 2rem;
      list-style: none;
      margin: 0;
      padding: 0;
      margin-top: -2rem;
      @include transition(0.2s);
      & > li {
        float: right;
        padding: 0 0.5rem;
        font-size: 0.8rem;
        line-height: 1.5rem;
        border: 1px solid $ultra-light-grey;
        margin-right: -1px;
        margin-top: -1px;
        position: relative;
        z-index: 500;
        &.category {
          background-color: $blue;
          color: $white;
          border-color: $blue;
          z-index: 550;
        }
      }
    }
  }

  .voting {
    z-index: 500;
    height: $voting-height;
    overflow: hidden;
    position: absolute;
    right: 0;
    bottom: $user-height;
    width: 100%;
    @include transition(0.2s);

    .prompt {
      text-transform: uppercase;
      position: absolute;
      display: none;
      top: -1rem;
      font-size: 0.8rem;
      line-height: $user-height;
      height: $user-height;
      vertical-align: middle;
      text-align: center;
      width: 100%;
      color: $dark-grey;
    }

    .options {
      z-index: 3000;
      position: absolute;
      top: $voting-height;
      right: 0;
      left: 0;
      height: $voting-height;
      margin: 0;
      padding: 0;
      margin-top: 1px;

      border-top: 1px solid $ultra-light-grey;
      line-height: $voting-height;
      list-style: none;

      @include transition(0.2s);
      font-size: 0;

      li {
        display: inline-block;
        width: 25%;
        height: $voting-height;
        text-align: center;
        &:hover {
          color: $dark-grey;
          background-color: $ultra-light-grey;
        }
        &:not(:last-child) {
          border-right: 1px solid $ultra-light-grey;
        }
        .option {
          font-size: 0.8rem; // same as h6, .h6
          line-height: 2rem;
          vertical-align: top;
        }
      }
    }
  }

  &:hover {
    .voting .options {
      top: 0;
    }
    .tags .inner {
      margin-top: 0;
    }
  }

  /**************
   * Variations *
   **************/
  &.wide-2 {
    .text {
      @extend .h3;
    }
  }

  &.tall-3-2 {
    height: $tall-3-2-height;
    .text {
      @extend .h3;
    }
  }

  &.tall-2 {
    color: $white;
    height: $tall-2-height;

    .prompt {
      color: $white;
    }

    .background {
      display: block;
    }

    .user {
      background-color: rgba(0,0,0,0) !important;
      color: $white;
    }

    .text-wrapper {
      color: $white;
    }

    .text {
      z-index: 300;
      position: absolute;
      right: $prediction-padding;
      bottom: ($user-height + $prediction-padding + $voting-height);
      left: $prediction-padding;

      @extend .h2;
      @include text-shadow;
    }

    .options, .options li {
      border: 0 !important;
    }

    .option {
      @include text-shadow;
    }

    .options li:hover .option {
      text-shadow: none;
    }
  }

  &.featured {
    background-color: rgba(0,0,0,0.2);
    color: $white;
    @include text-shadow;
    position: absolute;
    bottom: 2rem;
    width: 50%;

    .text {
      @extend .h1;

      position: absolute;
      bottom: ($user-height + $voting-height + 1rem);
      left: 1rem;
      right: 1rem;
    }

    .user {
      background-color: rgba(0,0,0,0) !important;
      bottom: 0;
      .text-wrapper {
          height: 5rem;
          color: $white;
          left: 4rem;
          @include text-shadow;
      }
      .name, .source {
          @include text-shadow;
      }
    }
    .voting {
      .prompt {
        color: white;
        @include text-shadow;
      }
      .options, .options li {
        border: 0 !important;
      }
      .option {
        @include text-shadow;
      }
      .options li:hover .option {
        text-shadow: none;
      }
    }
  }

  &.no-box {
    height: $tall-2-height;
    padding-bottom: 1rem;

    border: 1rem solid white;
    background-color: rgba(0,0,0,0.2) !important;

    .background {
        display: none;
    }
    .text {
        width: 50%;
    }
  }

}