div.prediction-card {

  float: left;
  width: calc(50% - #{$half-space/2});
  margin-bottom: $half-space;

  @extend %card;

  &:nth-child(odd) {
    margin-right: $half-space/2;
  }

  &:nth-child(even) {
    margin-left: $half-space/2;
  }

  .title-container {
    position: relative;
    padding: $half-space;

    color: $white;
    @include background-cover;
    @include border-radius(5px, 5px, 0, 0);

    .category {
      z-index: 2;
      position: absolute;
      top: $half-space;
      right: 0;
      padding: 3px 5px;

      font-style: italic;

      &.finance { background: $finance; }
      &.politics { background: $politics; }
      &.sports { background: $sports; }
      &.entertainment { background: $entertainment; }
      &.tech { background: $tech; }
    }

    .title {
      z-index: 2;
      position: relative;
      margin: 0;
      padding-top: 30px; /* to clear category tag */
    }

    .filter {
      z-index: 1;
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;

      background: rgba($black, 0.4);
    }

    .shadow {
      position: absolute;
      right: 0;
      bottom: 0;
      left: 0;
      height: 5px;

      background: -moz-linear-gradient(top,  rgba(0,0,0,0) 0%, rgba(0,0,0,0.65) 100%);
      background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(0,0,0,0)), color-stop(100%,rgba(0,0,0,0.65)));
      background: -webkit-linear-gradient(top,  rgba(0,0,0,0) 0%,rgba(0,0,0,0.65) 100%);
      background: -o-linear-gradient(top,  rgba(0,0,0,0) 0%,rgba(0,0,0,0.65) 100%);
      background: -ms-linear-gradient(top,  rgba(0,0,0,0) 0%,rgba(0,0,0,0.65) 100%);
      background: linear-gradient(to bottom,  rgba(0,0,0,0) 0%,rgba(0,0,0,0.65) 100%);
      filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#a6000000',GradientType=0 );
    }

    a {
      z-index: 3;
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
    }

    &:hover .title {
      text-decoration: underline;
    }
  }

  .info-container {
    display: table;
    width: 100%;
    height: 80px;

    & > * {
      display: table-cell;
      vertical-align: middle;
    }

    & > *:first-child,
    & > *:last-child {
      padding: 0 $half-space;
    }

    .avatar-container {
      width: 90px; /* 50px user-avatar + $half-space*2 padding */
      text-align: center;
    }

    .user-container {
      a.user-name {
        @extend .delta;

        display: block;
        margin-bottom: $half-space/2;

        color: $grey-text;
        font-weight: 400;
      }

      a.user-organization {
        @extend .epsilon;

        display: block;
        margin: 0;

        color: $dark-grey-text;
      }
    }

    .score-container {
      width: 80px; /* same height as .info-container to ensure that it's square */
      text-align: center;

      @include border-radius(0, 0, 5px, 0);
      background-color: green;
      color: $white;
      text-transform: uppercase;

      h6.descriptor {
        display: block;
        margin: 0;

        font-weight: normal;
      }

      h2.score {
        margin: 0;
      }

    }
  }

}