.user {

  position: relative;
  height: $user-height;
  background-color: $ultra-light-grey;
  width: 100%;
  color: $black;
  z-index: 700;

  & > div {
    position: relative;

    & > a {
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
    }
  }

  .grade {
    display: block;
    position: absolute;
    right: 0;
    top: 0;
    height: $user-height;
    width: $user-height;
    color: $white;
    text-align: center;
    overflow: hidden;
    @include transition(0.2s);

    .letter {
      top: 0rem;
      position: absolute;
      left: 0;
      width: 100%;
      @include transition(0.2s);
      font-size: 1.5rem;
      line-height: $user-height;
      vertical-align: middle;
    }
  }

  .photo {
    @include background-cover(center);
    height: $user-height;
    width: $user-height;
    display: inline-block;
    position: relative;
    overflow: hidden;
  }

  .text-wrapper {
    position: absolute;
    padding: $user-vertical-padding;
    top: 0;
    left: ($user-height - 2 * $user-vertical-padding +  2 * $prediction-padding);
    right: $user-height;
    height: $user-height;
    color: $dark-grey;
    .name {
      margin:0;
      font-weight: $regular;
    }
    .affiliation {
      margin: 0.25rem 0 0;
    }

    &.no-grade { right: 0; }
  }

}